<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITH | DASHBOARD</title>
    <%- include('../web_includes/header') %>
    <script>
        $(document).ready( function () {
        $('#example').DataTable({
            scrollY: '50vh',
            scrollCollapse: true,
            paging: false,
        });

}    );
    </script>
</head>
<body>
    <h1>E.D.I.T.H</h1>
    <br>

</body>
</html>
